*{
    margin: 0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    box-sizing: border-box;
}

header 
{
    background-color: #160f85;
    color: #fff;
    padding: 20px;
    text-align: center;
}

body 
{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
    background-image: url("gradient.jpg");
}

p 
{
    color: #72f0fc; 
    font-size: 18px;
}

.container 
{
    width: 85%;
    margin: 30px auto;
    background-color: none;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input 
{
    font-size: 16px;
    padding: 10px 10px; 
    border: 1px solid #7b9ff3;
}

label 
{
    color: #beeff1;
    font-size: 18px;
}


input[type="submit"] 
{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover 
{
    background-color: #0056b3;
}

